MAIL_HOST=arrow.mxrouting.net
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=no-reply@yourdomain.com
MAIL_PASSWORD=your_mxroute_password
MAIL_FROM="My App <no-reply@yourdomain.com>"

MAIL_RETRY_ATTEMPTS=3
MAIL_RETRY_DELAY_MS=2000

DA_HOST=chocobo.mxrouting.net
DA_PORT=2222
DA_USERNAME=your_directadmin_user
DA_PASSWORD=your_directadmin_password
DA_DOMAIN=yourdomain.com
