MAIL_HOST=chocobo.mxrouting.net
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=you@yourdomain.com
MAIL_PASS=your_mxroute_password
MAIL_FROM="Your App <you@yourdomain.com>"

REDIS_HOST=localhost
REDIS_PORT=6379

DA_HOST=chocobo.mxrouting.net
DA_PORT=2222
DA_USERNAME=your_directadmin_user
DA_PASSWORD=your_directadmin_password
DA_DOMAIN=yourdomain.com
