<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
  </head>
  <body style="font-family: sans-serif; padding: 24px;">
    <h1>Welcome, {{name}}!</h1>
    <p>We're glad to have you on board.</p>
  </body>
</html>
